@import "settings";
@import "monokai";

pre {
	background-color: $gray;
	border-radius: 3px;
	margin: 1rem;
	padding: .5rem;
	code {
		font-size: $code-font-size;
		@if $code-show-language {
			&:after {
				border-top: solid 1px $medium-gray;
				color: $medium-gray;
				content: attr(class);
				display: block;
				font-size: .6rem;
				font-style: oblique;
				margin-bottom: -.5rem;
				margin-top: 1rem;
				width: 100%;
			}
		}
	}
}
