@import "settings";
#about {
	background-color: $section-about-background-color;
	color: $section-about-foreground-color;
	a {
		color: $section-about-link-color;
	}
	#portrait {
		text-align: center;
		img {
			border: 6px solid $blue;
			border-radius: 50%;
			margin: 0 0 2rem;
			height: 128px;
			width: 128px;
			@include breakpoint(medium) {
				border-width: 8px;
				margin-bottom: 3rem;
				height: 256px;
				width: 256px;
			};
		}
	}
}
