@import "settings";
@import "mixins";
@import "global";
@import "grid/grid";
@import "components/visibility";
@import "typography/typography";

@include foundation-grid;
@include foundation-global-styles;
@include foundation-typography;

html {
    font-size: 16px;
    @include breakpoint(medium) {
        font-size: 24px;
    };
}
body {
    font-weight: $body-font-weight;
}
section {
    padding-top: 1em;
}
section.about-author {
    // background-color: $gray;
    // color: $blue;
}
h1 {
    margin: 1.25rem 0;
}
h2 {
    margin-left: 1em;
}
.centered {
    display: block;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}

@import 'button';
@import 'callout';
