@import 'settings';

@import 'global';
@import 'grid/grid';
@import "components/media-object";
@import 'components/visibility';
@import 'typography/typography';

@include foundation-grid;
@include foundation-global-styles;
@include foundation-media-object;
@include foundation-typography;

html {
    font-size: 12pt;
    @include breakpoint(medium) {
        font-size: 16pt;
    };
}
body {
    font-weight: $body-font-weight;
}
.centered {
    display: block;
    margin: 0 auto;
}
section {
    padding-top: 1em;
}
section.white {
    background-color: $gray;
    color: $blue;
}
h1 {
    font-weight: $header-h1-font-weight;
    margin: 1.25rem 0;
}
h2 {
    margin-left: 1em;
}
img {
    &.circle {
        border-radius: 50%;
    }
}

@import 'button';
@import 'callout';

#site-content-wrapper {
    @import 'site-nav';
    @import 'content-spacer';
    @import 'footer';
}
