@import 'settings';

@import 'global';
@import 'grid/grid';
@import 'typography/typography';
@import 'components/visibility';

@include foundation-grid;
@include foundation-global-styles;
@include foundation-typography;

html {
    font-size: 12pt;
    @include breakpoint(medium) {
        font-size: 16pt;
    };
}
body {
    font-weight: $body-font-weight;
}
h1 {
    font-weight: $header-h1-font-weight;
}
h2 {
    margin-left: 1em;
}
#site-content-wrapper {
    @import 'site-nav';
    @import 'content-spacer';
    @import 'footer';
}
