@import "settings";

#blog {
	background-color: $section-blog-background-color;
	color: $section-blog-foreground-color;
}

article {
	position: relative;
	margin-bottom: $blog-entry-bottom-margin;
	a:not(.button) {
		color: !important $light-gray;
	}
	h2 > a {
		color: $blue;
	}
	header {
		margin-bottom: $blog-entry-header-bottom-margin;
		h2 {
			margin: 0 0 0 ($blog-entry-meta-icon-size + .75rem);
		}
		.meta-icon {
			color: $blog-entry-meta-icon-color;
			font-size: $blog-entry-meta-icon-size;
			line-height: inherit;
			position: absolute;
			top: 0;
			height: $blog-entry-meta-icon-size;
			width: $blog-entry-meta-icon-size;
			& > i.fallback-icon {
				display: block;
				color: inherit;
				font-size: inherit;
				font-style: inherit;
				line-height: $blog-entry-meta-icon-size;
				&::after {
					content: '\f075';
					font-family: FontAwesome;
					line-height: inherit;
				}
			}
		}
		.meta-comments {
			color: $blog-entry-meta-author-color;
			display: inline;
			font-family: $body-font-family;
			font-size: $blog-entry-meta-author-font-size;
			font-weight: normal;
			text-transform: uppercase;
		}
		.meta-date {
			color: $blog-entry-meta-author-color;
			display: inline;
			font-family: $body-font-family;
			font-size: $blog-entry-meta-author-font-size;
			font-weight: normal;
			margin: 0 0 1rem ($blog-entry-meta-icon-size + .75rem);
			text-transform: uppercase;
		}
	}
	.resume > p {
		text-indent: 0;
	}
	.more {
		font-style: italic;
		font-size: smaller;
	}
}
