@import "components/pagination";

@include foundation-pagination;
.pagination {
	li {
		border: 1px solid $transparent;
		border-radius: $pagination-radius;
		&:hover, &.current {
			border-color: $red;
		}
		&.current {
			padding: 0;
		}
	},
	li.disabled, li.ellipsis {
		border: none;
	}
}
