@import 'util/util';
@import 'global';

///////////////////////////////////////////////////////////////////////////////
// Colors variables
$transparent: rgba(0, 0, 0, 0);

$white: #d9cb9e;
$black: #1e1e20;
$gray: #2a2c2b;
$dark-gray: $gray;
$medium-gray: lighten($gray, 25);
$light-gray: lighten($gray, 50);

$blue: #819493;
$green: #5cbf75;
$red: #dc3522;
$orange: #eecb7b;

$foundation-palette: (
	primary: $blue,
	secondary: $light-gray,
	success: $green,
	warning: $orange,
	alert: $red,
);

$anchor-color: $medium-gray;
$anchor-color-hover: $red;

$global-margin: 1.25rem;

///////////////////////////////////////////////////////////////////////////////
// Section variables
$section-about-background-color: $gray;
$section-about-foreground-color: $blue;
$section-about-link-color: $red;
$section-about-link-color-hover: $medium-gray;

$section-contact-background-color: $black;
$section-contact-foreground-color: inherit;

$section-blog-background-color: $black;
$section-blog-foreground-color: inherit;

///////////////////////////////////////////////////////////////////////////////
// Grid variables
$grid-row-width: 780px;

///////////////////////////////////////////////////////////////////////////////
// Body variables
$body-background: $black;
$body-background-image: url('/assets/pictures/background.jpg');
$body-font-family: 'Roboto Slab', serif;
$body-font-weight: 300;
$body-font-color: $white;

///////////////////////////////////////////////////////////////////////////////
// Code variables
$code-color: $body-font-color;
$code-font-size: .75rem;
$code-background: $transparent;
$code-border: none;
$code-padding: 0;
$code-show-language: true;

$menu-item-background-active: $transparent;

///////////////////////////////////////////////////////////////////////////////
// MediaObject variables
$mediaobject-margin-bottom: 0;

///////////////////////////////////////////////////////////////////////////////
// Button variables
$button-padding: .75em;
$button-radius: 3px;
$button-background-hover: lighten($blue, 5);
$button-color: $black;

///////////////////////////////////////////////////////////////////////////////
// Close button variables
$closebutton-offset-horizontal: .25rem;
$closebutton-offset-vertical: .25rem;
$closebutton-size: .8rem;
$closebutton-color-hover: $gray;

///////////////////////////////////////////////////////////////////////////////
// Callout variables
$callout-background-fade: 5%;
$callout-font-color: $black;
$callout-padding: .25rem;
$callout-radius: 3px;
$callout-margin: 0 0 2rem 0;

///////////////////////////////////////////////////////////////////////////////
// Headers variables
$header-font-family: 'Oswald', sans-serif;
$header-color: $blue;
$header-sizes: (
	'small':  ('h1': 2rem, 'h2': 1.5rem, 'h3': 1rem),
	'medium': ('h1': 2rem, 'h2': 1.5rem, 'h3': 1rem),
	'large':  ('h1': 2rem, 'h2': 1.5rem, 'h3': 1rem)
);
$header-font-weight: 700;

///////////////////////////////////////////////////////////////////////////////
// Paragraph variables
$paragraph-margin-bottom: 1.5rem;

///////////////////////////////////////////////////////////////////////////////
// Footer variables
$footer-color: $blue;
$footer-background-color: darken($black, 4);
$footer-font-size: .75rem;

$footer-social-link-bg-color: lighten($black, 4);
$footer-social-link-color: $footer-color;
$footer-social-link-font-size: 3rem;
$footer-social-link-font-size-hover: 4rem;
$footer-social-link-width: 4rem;
$footer-social-link-transition-speed: .25s;

///////////////////////////////////////////////////////////////////////////////
// Top bar variables
$topbar-background: $transparent;
$topbar-padding: 0;

$topbar-font-weight: 700;
$topbar-transition-duration: .25s;

$topbar-avatar-size: 4rem;
$topbar-avatar-border-thickness: 4px;
$topbar-avatar-left-margin: 1rem;

$topbar-background-color: $red;
$topbar-shadow-blur-radius: 4px;
$topbar-shadow-spread-radius: 4px;
$topbar-shadow-color: hsla(0, 0, 0, .33);
$topbar-item-active-color: $black;
$topbar-item-hover-color: $black;

///////////////////////////////////////////////////////////////////////////////
// Title bar variables
$titlebar-background: $red;
$titlebar-toggle-menu-button-color: $white;

///////////////////////////////////////////////////////////////////////////////
// Blog page variables
$blog-entry-bottom-border-thickness: 1px;
$blog-entry-bottom-border-color: $blue;
$blog-entry-bottom-margin: 5rem;

$blog-entry-header-bottom-margin: 1rem;

$blog-entry-meta-icon-size: 2.6rem;
$blog-entry-meta-icon-color: $blue;

$blog-entry-meta-author-color: $medium-gray;
$blog-entry-meta-author-font-size: .75rem;

$blog-article-footer-margin-top: 0rem;
$blog-article-footer-margin-bottom: 2rem;
$blog-article-footer-border-top: 1px solid $medium-gray;
$blog-article-footer-font-color: $medium-gray;
$blog-article-footer-font-size: .75rem;

///////////////////////////////////////////////////////////////////////////////
// Pagination variables
$pagination-font-size: .75rem;
$pagination-radius: 3px;
$pagination-item-background-hover: $black;
$pagination-item-background-current: $black;
$pagination-item-color: $blue;
$pagination-item-color-current: $red;
$pagination-item-spacing: .25rem;
$pagination-ellipsis-color: $blue;

///////////////////////////////////////////////////////////////////////////////
// Contact form variables
$contact-form-input-fg-color: $white;
$contact-form-input-bg-color: lighten($black, 5);
$contact-form-input-bg-color-focus: lighten($contact-form-input-bg-color, 5);
$contact-form-input-fg-color-focus: $white;
$contact-form-input-focus-transition-speed: .25s;
$contact-form-input-border-thickness: 4px;
$contact-form-input-border-radius: 3px;
$contact-form-input-border-color: $blue;
$contact-form-input-placeholder-color: lighten($contact-form-input-bg-color, 25);
$contact-form-input-font-size: 1rem;
$contact-form-input-label-color: lighten($contact-form-input-bg-color, 25);
$contact-form-input-label-font-size: $contact-form-input-font-size;
$contact-form-input-invalid-color: $red;
$contact-form-input-line-height: 1.8rem;

///////////////////////////////////////////////////////////////////////////////
// CV variables

$cv-font-size: .75em;
$cv-link-color: $body-font-color;
$cv-link-hover-color: $red;

$cv-section-margin: 2em;

$cv-section-header-font-size: 1.5em;
$cv-section-header-margin: 1em 0;

$cv-section-subheader-font-size: 1em;
$cv-section-subheader-margin: 1em 0 .25em;

$cv-section-border-color: $black;
$cv-section-header-border-color: $red;
$cv-section-header-border-thickness: 2px;

$cv-personal-details-header-font-size: 2em;

$cv-personal-details-picture-border-thickness: 4px;
$cv-personal-details-picture-border-color: $blue;

$cv-personal-details-icon-color: $red;
$cv-personal-details-icon-right-margin: .5em;

$cv-print-body-font-color: black;
$cv-print-personal-picture-border-color: #ddd;

$cv-item-color: $blue;
$cv-item-margin-bottom: 1em;
$cv-item-header-font-size: smaller;
$cv-item-header-font-weight: bold;
$cv-item-body-margin-left: .5em;
