// Custom settings

// Sass utilities
@import 'util/util';

// Global variables and styles
@import 'global';

$black: #2b3a42;
$blue: #3f5765;
$light-blue: #bdd4de;
$white: #efefef;
$red: #ff530d;

$body-bg-color: $black;
$body-font-color: $white;

$h1-font-color: $blue;
$h1-border-color: $h1-font-color;
$h2-font-color: $light-blue;
