@import "settings";
#splash {
    background-image: url('/assets/pictures/splashes/3.jpg');
	background-size: cover;
	background-position: center;
    background-color: transparentize($blue, .7);
    background-blend-mode: overlay;
    overflow: hidden;
    min-height: 18rem;
    width: 100%;
}
