<section id="personal-details">
    <h1>{{name}}<br>{{job}}</h1>
    {{#if picture}}
    <img src="{{picture}}"></img>
    {{/if}}
    <ul>
        {{#if birth}}
        <li><i class="fa fa-birthday-cake fa-fw"></i>{{birth}}</li>
        {{/if}}
        {{#if address}}
        <li><i class="fa fa-map-marker fa-fw"></i>{{address}}</li>
        {{/if}}
        {{#if phone}}
        <li><i class="fa fa-mobile fa-fw"></i>{{phone}}</li>
        {{/if}}
        {{#if email}}
        <li><i class="fa fa-envelope-o fa-fw"></i>{{email}}</li>
        {{/if}}
        {{#if github}}
        <li><i class="fa fa-github fa-fw"></i><a href="{{github}}">{{github}}</a></li>
        {{/if}}
        {{#if 500px}}
        <li><i class="fa fa-500px fa-fw"></i><a href="{{500px}}">{{500px}}</a></li>
        {{/if}}
    </ul>
</section>
