<head>
    {{#if title}}
    <title>{{site-name}} - {{title}}</title>
    {{else}}
    <title>{{site-name}}</title>
    {{/if}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Oswald:700,400' type='text/css'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,300' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css">
    {{#if has-custom-page-style}}
    <link rel="stylesheet" href="/assets/css/{{page}}/style.css">
    {{/if}}
    {{#if has-custom-page-application}}
    <script src="/assets/js/{{page}}/app.js"></script>
    {{else}}
    <script src="/assets/js/home/app.js"></script>
    {{/if}}
</head>
