<div
    id="portrait-shadow"
    data-sticky-on="small"
    data-top-anchor="1"
    data-sticky
    data-options="marginTop:0;">
</div>
<div
    class="top-bar"
    data-sticky-on="small"
    data-top-anchor="1"
    data-sticky
    data-options="marginTop:0;">
    <img id="avatar" src="/assets/pictures/me.jpg">
    <div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
        MENU<a data-toggle><i class="fa fa-bars"></i></a>
    </div>
    <div id="site-nav" class="menu-centered">
        <ul
            class="vertical medium-horizontal menu"
            {{#if (eq this.path.name 'index')}}
                data-magellan
                data-bar-offset="40"
            {{/if}}>
            <li><a {{{menu-href this.path.name 'about'}}}>About</a></li>
            <li><a {{{menu-href this.path.name 'blog'}}}>Blog</a></li>
            <li><a {{{menu-href this.path.name 'contact'}}}>Contact</a></li>
        </ul>
    </div>
</div>
