@import "settings";

article {
	border-bottom: 1px solid $blue;
	margin-bottom: 2rem;
	header {
		border-bottom: 1px solid $blue;
		font-family: $header-font-family;
		font-size: map-get(map-get($header-sizes, "small"), "h1");
		font-weight: $header-h1-font-weight;
		margin: 1rem 0 0;
		@include breakpoint(medium) {
			font-size: map-get(map-get($header-sizes, "medium"), "h1");
		};
	}
	.meta-author {
		color: $medium-gray;
		font-family: $body-font-family;
		font-size: .75rem;
		font-weight: normal;
		margin: .25rem 0 1rem 1rem;
	}
}
