@import "settings";

article {
	border-bottom: $blog_entry_bottom_border_thickness solid $blog_entry_bottom_border_color;
	margin-bottom: $blog_entry_bottom_margin;
	header {
		& > h1 {
			margin-bottom: 0;
		}
		.meta-author {
			color: $blog_meta_color;
			font-family: $body-font-family;
			font-size: $blog_meta_font_size;
			font-weight: normal;
			margin: 0 0 1rem 1rem;
		}
	}
}
