@import "settings";
.highlighted {
	background-color: $cv-highlighted-bg-color;
}
body > header {
	margin-top: 3rem;
}
section {
	font-size: $cv-font-size;
	margin-bottom: $cv-section-margin;
	padding: 0;
	a {
		color: $cv-link-color;
		text-decoration: none;
		&:hover {
			color: $cv-link-hover-color;
		}
	}
	ul {
		margin: 0;
	}
	h1 {
		font-size: $cv-section-header-font-size;
		margin: $cv-section-header-margin;
	}
	h2 {
		font-size: $cv-section-subheader-font-size;
		margin: $cv-section-subheader-margin;
	}
	&:not(#personal-details) {
		h1 {
			border-bottom: solid $cv-section-header-border-thickness $cv-section-header-border-color;
		}
	}
	&#personal-details {
		border: none;
		margin-bottom: $cv-personal-details-bottom-margin;
		padding: 0;
		h1 {
			font-size: $cv-personal-details-header-font-size;
			text-align: center;
		}
		img {
			border: solid $cv-personal-details-picture-border-thickness $cv-personal-details-picture-border-color;
			display: block;
			margin: 0 auto;
			vertical-align: top;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				@include breakpoint(medium) {
					font-size: smaller;
				}
				i {
					color: $cv-personal-details-icon-color;
					margin: 0;
					margin-right: $cv-personal-details-icon-right-margin;
				}
			}
		}
	}
	&#education, &#employments {
		ul {
			list-style-type: none;
			li {
				margin-bottom: $cv-item-margin-bottom;
				.item-header {
					color: $cv-item-color;
					font-size: $cv-item-header-font-size;
					font-weight: $cv-item-header-font-weight;
					.left {
						float: left;
					}
					.right {
						float: right;
					}
				}
				.item-body {
					clear: both;
					margin-left: $cv-item-body-margin-left;
				}
			}
		}
	}
	&#interests {
		ul {
			list-style-position: inside;
			li {
				&:not(:last-of-type):after {
					content: ',';
				}
				&:last-of-type:after {
					content: '.';
				}
			}
		}
	}
	&#skills {
		background-color: inherit;
		ul {
			list-style-type: none;
			padding: 0;
			margin-left: $cv-item-body-margin-left;
			.skill {
				display: inline;
				&:not(:last-of-type):after {
					content: ', ';
				}
				&:last-of-type:after {
					content: '.';
				}
			}
		}
	}
}
@media print {
	html {
		font-size: $cv-print-body-font-size;
	}
	body {
		color: $cv-print-body-font-color;
		font-family: sans-serif;
		padding: $cv-print-body-padding;
		& > #site-menu-wrapper {
			display: none;
		}
		& > header {
			margin-top: 0;
		}
		& > footer {
			display: none;
		}
	}
	a {
		color: $cv-print-body-font-color;
		&::after {
			display: none;
		}
	}
	.highlighted {
		background-color: $cv-print-highlighted-bg-color !important;
	}
	section {
		border: none;
		&:not(#personal-details) {
			h1 {
				border-bottom: solid $cv-print-section-header-border-thickness $cv-print-section-header-border-color;
			}
		}
		&#personal-details {
			img {
				border: solid $cv-print-personal-picture-border-thickness $cv-print-personal-picture-border-color;
				height: 96px;
				width: 96px;
				padding: 3px;
			}
			ul {
				li {
					margin-bottom: .25em;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
