@import "settings";

section {
	border: solid 1px $cv_section-border-color;
	border-radius: 8px;
	padding: .5em;
	margin-bottom: 1em;
	a {
		color: $body-font-color;
		text-decoration: none;
		&:hover {
			color: $red;
		}
	}
	ul {
		margin: 0;
	}
	h1 {
		font-size: 1.25em;
	}
	&:not(#personal-details) {
		h1 {
			border-bottom: solid $cv_section-header-border-thickness $cv_section-header-border-color;
			margin-bottom: 1em;
		}
	}
	&#personal-details {
		border: none;
		padding: 0;
		h1 {
			font-size: 2em;
			margin-bottom: 2em;
			text-align: center;
		}
		img {
			border: solid $cv_personal-picture-border-thickness $cv_personal-picture-border-color;
			display: block;
			margin: 0 auto;
			vertical-align: top;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: .5em;
				@include breakpoint(medium) {
					font-size: smaller;
				}
				i {
					color: $red;
					margin: 0;
					margin-right: 1em;
				}
			}
		}
	}
	&#education {
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 1em;
				.year {
					float: left;
				}
				.school {
					padding: .25em;
					clear: both;
					font-size: smaller;
				}
				.grade {
					float: right;
				}
			}
		}
	}
	&#employments {
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 1em;
				.period {
					float: left;
				}
				.resume {
					padding: .5em;
					clear: both;
					font-size: smaller;
				}
				.employer {
					float: right;
				}
			}
		}
	}
	&#interests {
		ul li {
			&:not(:last-of-type):after {
				content: ',';
			}
			&:last-of-type:after {
				content: '.';
			}
		}
	}
	&#skills {
		ul {
			list-style-type: none;
			padding: 0;
			.skill {
				display: inline;
				&:not(:last-of-type):after {
					content: ', ';
				}
				&:last-of-type:after {
					content: '.';
				}
			}
		}
	}
}
.left, .right {
	position: absolute;
	width: 50%;
	section {
		margin: 1em;
		&:last_child {
			margin-bottom: 0;
		}
	}
}
.left {
	left: 0;
	width: 60%;
	margin-bottom: 1em;
	section {
		margin-right: .5em;
	}
}
.right {
	left: 60%;
	width: 40%;
	section {
		margin-left: .5em;
	}
}

@media print {
	html {
		font-size: 10pt;
	}
	body {
		color: $cv_print-body-font-color;
		font-family: sans-serif;
	}
	a {
		color: $cv_print-body-font-color;
		&:hover {
			color: $cv_print-body-font-color;
		}
	}
	section {
		h2 {
			margin-bottom: 0.33em;
		}
		&#personal-details {
			img {
				border: solid 1pt $cv_print-personal-picture-border-color;
				height: 96px;
				padding: 3px;
				width: 96px;
			}
			ul {
				li {
					margin-bottom: .25em;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
