<section id="employments">
    <h1><i class="fa fa-fw fa-briefcase"></i>&nbsp;Expériences professionelles</h1>
    <ul>
        {{#each employments}}
        <li>
            <div class="item-header">
                <div class="left">
                    <span class="from">{{from_year}}</span> - <span class="to">{{to_year}}</span>
                </div>
                <div class="right">{{employer}}</div>
            </div>
            <div class="item-body">{{resume}}</div>
        </li>
        {{/each}}
    </ul>
</section>
