{{> begin-page}}
	<section class="white">
		<div class="row columns">
			<div class="media-object stack-for-small">
				<div class="media-object-section">
					<div id="about-portrait">
						<img class="circle centered" src="/assets/pictures/me.jpg" alt="" />
					</div>
				</div>
				<div class="media-object-section middle">
					My name is Julien Graziano, a.k.a NealRame or simply Jux
					for my my friends. I live in Lille in the north of France
					with my wonderful girlfriend.
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row columns">
			<h1>Passionate developer</h1>
			<p>
				I am developer and enthusiast for technologies of information,
				particularly web applications and internet of things.
			</p>
			<p>
				I've been working as a developper since 2005. My areas of
				expertise are C++ and Javascript.
			</p>
			<p>
				I think I'm good at:
				<ul>
					<li>developping applications in C/C++ or Javascript,</li>
					<li>build and test this using Jenkins CI,</li>
				</ul>
			</p>
			<p>
				I work hard to become almost as good at putting it all into
				production using Docker containers and cloud technologies.
			</p>
			<p>
				I am very interested by functional programming techniques and
				software architecture.
			</p>
		</div>
		<div class="row">
			<div class="small-centered small-6 columns">
				<p>
					<a href="/pages/cv.html" class="expanded button">Check out my CV</a>
				</p>
			</div>
		</div>
	</section>
	<section>
		<div class="row columns">
			<h1>When I do not code</h1>
			<p>
				When I do not code, I really enjoy climbing, play and take long
				walks with my dog. I also like taking pictures of my trips and
				rambles.
			</p>
		</div>
	</section>
{{> end-page}}
