<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{description}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:700,400' type='text/css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100' type='text/css'>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="../scripts/app.min.js"></script>
</head>
<body>
    {{> personal_details}}
    <div class="left">
        {{> education}}
        {{> employments}}
        {{> interests}}
    </div>
    <div class="right">
        {{> skills}}
    </div>
</body>
</html>
