{{> begin-page}}
	{{> cv/personal-details}}
	<div class="row">
		<div class="columns small-12 medium-6">
			<div class="row columns">
				{{> cv/education}}
			</div>
			<div class="row columns">
				{{> cv/employments}}
			</div>
			<div class="row columns">
				{{> cv/interests visibilityClass="show-for-medium"}}
			</div>
		</div>
		<div class="columns small-12 medium-6">
			{{> cv/skills}}
		</div>
		<div class="columns small-12">
			{{> cv/interests visibilityClass="hide-for-medium hide-for-print"}}
		</div>
	</div>
{{> end-page}}
